# Created by .ignore support plugin (hsz.mobi)
.idea
.classpath
.project
.settings
target
.DS_Store
/logs
*.iml
*.class
distribution/bin/fescar-server.bat
distribution/bin/fescar-server.sh
distribution/conf/application.conf
distribution/lib/commons-lang-2.6.jar
distribution/lib/commons-pool-1.6.jar
distribution/lib/commons-pool2-2.4.2.jar
distribution/lib/config-1.2.1.jar
distribution/lib/fastjson-1.2.48.jar
distribution/lib/fescar-common-0.1.0-SNAPSHOT.jar
distribution/lib/fescar-config-0.1.0-SNAPSHOT.jar
distribution/lib/fescar-core-0.1.0-SNAPSHOT.jar
distribution/lib/fescar-server-0.1.0-SNAPSHOT.jar
distribution/lib/hamcrest-core-1.3.jar
distribution/lib/junit-4.12.jar
distribution/lib/logback-classic-1.1.6.jar
distribution/lib/logback-core-1.1.6.jar
distribution/lib/maven-metadata-appassembler.xml
distribution/lib/netty-all-4.1.24.Final.jar
distribution/lib/netty-buffer-4.1.24.Final.jar
distribution/lib/netty-common-4.1.24.Final.jar
distribution/lib/netty-resolver-4.1.24.Final.jar
distribution/lib/netty-transport-4.1.24.Final.jar
distribution/lib/netty-transport-native-epoll-4.1.24.Final-linux-x86_64.jar
distribution/lib/netty-transport-native-kqueue-4.1.24.Final-osx-x86_64.jar
distribution/lib/netty-transport-native-unix-common-4.1.24.Final.jar
distribution/lib/slf4j-api-1.7.22.jar
